.bear-react-carousel__nav-prev-button,
.bear-react-carousel__nav-next-button {
  background-color: rgba(15, 14, 14) !important;
}
.bear-react-carousel__pagination-group {
  bottom: -30px !important;
}
.bear-react-carousel__root {
  height: 300px !important;
}
